#header {
background-color:black;
color:white;
text-align:center;
padding:5px;
}
#add_host {
border: #000000 solid;
line-height:30px;
width:33%;
height: 420px;
float:left;
padding:5px;
position: relative;
}
#checkbox_fields {
    position: relative;
    margin-left: 40%;
    border: solid #000000;
    line-height:30px;
    height: 420px;
    padding:5px;
}
#logs
{
    position: relative;
    float: right;
    margin-right: 5%;
    display: block;

}
#hosts
{
    position: relative;
    float: left;
    display: block;
}
#error_message
{
    margin-top: 1%;
    font-size: 18px;
    color: red;
}
body {
background: #555;
}
ul {
  height: 300px;
  @include columns: 10em;
  @include column-fill: auto;
}
input[type="text"], input[type='password'] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
}
label {
    color: white;
    font-weight: bold;
    display: block;
    width: 250px;
    float: left;
}
.button {
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 9px 18px;
   -webkit-border-radius: 14px;
   -moz-border-radius: 14px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 21px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   background: #00337a;
   color: #ccc;
   }
.button:active {
   background: #000000;
   }